.content-diaglo-vote {
    position: relative;
    width: 320px;
    display: flex;
    align-items: center;
    .close {
        position: absolute;
        right: -10px;
        height: 24px;
    }
    .success {
        color: #1cbbb4;
        font-size: 32px;
        margin-right: 5px;
        line-height: 32px;
    }
    h4 {
        margin: 0;
    }
}
