<div class="footer-container row no-gutters justify-content-between align-items-center">
    <div class="bg-dotted"></div>
    <div class="legal-actions">
        <a
            class="nav-item"
            [routerLink]="['/terms']"
        >
            Terms and Conditions
        </a>
        <a
            class="nav-item"
            [routerLink]="['/policy']"
        >
            Privacy Policy
        </a>
        <a
            class="nav-item"
            [routerLink]="['/contact-us']"
        >
            Contact Us
        </a>
    </div>
    <div class="social-media-contact row no-gutters align-items-center">
        <div class="text">
            Follow Us
        </div>
        <i class="brand fab fa-facebook-square"></i>
        <i class="brand fab fa-twitter"></i>
    </div>
</div>