<div class="toolbar row no-gutters justify-content-between align-items-center">
    <h2 class="title">Rule of Thumb.</h2>
    <div class="menu col-md-8">
        <a
            class="nav-item"
            [routerLink]="['/trial']"
        >
            Past Trials
        </a>
        <a
            class="nav-item"
            [routerLink]="['/how-works']"
        >
            How It Works
        </a>
        <a
            class="nav-item"
            [routerLink]="['/authentication']"
        >
            Log In / Sign Up
        </a>
    </div>
</div>